<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
         <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        {% if title %}
            <title>Double-A - {{ title }}</title>
        {% else %}
            <title>Double-A</title>
        {% endif %}
    </head>
    <body>
        <header class="site-header">
            <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
                <div class="container">
                    <a class="navbar-brand mr-4" href="{{ url_for('main.home') }}">Double-A</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarToggle">
                        <div class="navbar-nav mr-auto">
                            <a class="nav-item nav-link" href="{{ url_for('main.home') }}">Home</a>
                            <a class="nav-item nav-link" href="{{ url_for('main.about') }}">About</a>
                        </div>
                        <!-- Navbar Right Side -->
                        <div class="navbar-nav">
                            {% if current_user.is_authenticated %}
                                <a class="nav-item nav-link" href="{{ url_for('marketsales.market_sales')}}">Sales</a>
                                <a class="nav-item nav-link" href="{{ url_for('transactions.store_purchases')}}">Purchases</a>
                                <div class="btn-group dropend">
                                    <button type="button" class="btn btn-primary dropdown-toggle bg-steel" data-bs-toggle="dropdown" aria-expanded="false">
                                        Database Maintenance
                                    </button>
                                
                                    <ul class="dropdown-menu dropdown-menu-dark bg-steel">
                                        <li><a class="nav-item nav-link" href="{{ url_for('markets.market_management')}}">Markets</a></li>
                                        <li><a class="nav-item nav-link" href="{{ url_for('markets.new_market') }}">New Market</a></li>
                                        <li><a class="nav-item nav-link" href="{{ url_for('stores.store_management') }}">Stores</a></li>
                                        <li><a class="nav-item nav-link" href="{{ url_for('stores.new_store') }}">New Store</a></li>
                                        <li><a class="nav-item nav-link" href="{{ url_for('paymentmethods.payment_management') }}">Payment Methods</a></li>
                                        <li><a class="nav-item nav-link" href="{{ url_for('paymentmethods.new_payment') }}">New Payment Method</a></li>
                                    </ul>
                                </div>
                                <a class="nav-item nav-link" href="{{ url_for('users.account') }}">Account</a>
                                <a class="nav-item nav-link" href="{{ url_for('users.logout') }}">Logout</a>
                            {% else %}
                                <a class="nav-item nav-link" href="{{ url_for('users.login') }}">Login</a>
                                <a class="nav-item nav-link" href="{{ url_for('users.register')}}">Register</a>
                            {% endif%}
                        </div>
                        
                    </div>
                </div>
            </nav>
        </header>
        <main class="container">
            <div class="row">
                <div class="col-8">
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            {% for category, message in messages %}
                                <div class="alert alert-{{ category }}">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                    {% block content %}{% endblock %}
                </div>
                <div class="col-4">
                    <div class="content-section">
                        <h3>Our Sidebar</h3>
                        <p class='text-muted'>You can put any information here you would like.</p>
                        <ul class="list-group">
                            <li class="list-group-item list-group-item-light">Latest Sales</li>
                            <li class="list-group-item list-group-item-light">Latest Purchases</li>
                            <li class="list-group-item list-group-item-light">Announcements</li>
                            <li class="list-group-item list-group-item-light">etc</li>
                        </ul>
                    </div>
                </div>
            </div>
        </main>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
  </body>
</html>