{% extends "_layout.html" %}
{% block content %}
    <h1>Latest Purchases</h1>
    
    {% if purchases %}
        <div class="row">
            <div class="col">
                <span class="spanbold">Date &amp; Items</span>
            </div>
            <div class="col text-end">
                <span class="spanbold">Amount</span>
            </div>
            <div class="col text-end">
                <span class="spanbold">GST</span>
            </div>
            <div class="col text-end">
                <span class="spanbold">Total</span>
            </div>
            <div class="col">
                <span class="spanbold">Store</span>
            </div>
        </div>
        {% for purchase in purchases %}
                <span>{{ purchase.transactiondate }}</span>
                <div class="row">
                    <div class="row">
                        <div class="col">
                            {{ purchase.items }}
                         </div>
                        <div class="col text-end">
                            {{ purchase.amount }}
                        </div>
                        <div class="col text-end">
                            {{ purchase.gst }}
                        </div>
                        <div class="col text-end">
                            {{ purchase.amount + purchase.gst }}
                        </div>
                        <div class="col">
                            {{ purchase.storename }}<br>({{ purchase.storelocation }})
                        </div>
                    </div>
                </div>
            <hr>
        {% endfor %}
        
    {% endif %}
{% endblock content %}