{% extends "_layout.html" %}
{% block content %}
    <h1>Selected Store: {{ one_store.storename }} ({{ one_store.storelocation }})</h1>
    {% if store_transactions %}
        <div class="row">
            <div class="col fw-bold">
                Date
            </div>
            <div class="col fw-bold">
                Item(s)
            </div>
            <div class="col fw-bold text-end">
                Amount
            </div>
            <div class="col fw-bold text-end">
                GST
            </div>
            <div class="col fw-bold text-end">
                Total
            </div>
        </div>
        {% for purchase in store_transactions %}
            <div class="row">
                <div class="col">
                    {{ purchase.transactiondate.strftime('%Y-%m-%d')}}
                </div>
                <div class="col">
                    {{ purchase.items }}
                </div>
                <div class="col text-end">
                    {{ purchase.amount }}
                </div>
                <div class="col text-end">
                    {{ purchase.gst }}
                </div>
                <div class="col text-end">
                    {{ purchase.amount + purchase.gst }}
                </div>
            </div>
        {% endfor %}
        {% for page_num in store_transactions.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
            {% if page_num %}
                {% if store_transactions.page == page_num %}
                    <a class="btn btn-info mb-4 text-white" href="{{ url_for('stores.store', store_id=one_store.storeid, page=page_num) }}">{{ page_num }}</a>
                {% else %}
                    <a class="btn btn-outline-info mb-4" href="{{ url_for('stores.store', store_id=one_store.storeid, page=page_num) }}">{{ page_num }}</a>
                {% endif %}
            {% else %}
                ...
            {% endif %}
    {% endfor %}
    {% endif %}
{% endblock content %}